<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.allpoint">


    <!--发送通知的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mater_design.MaterDesignActivity"></activity>
        <activity android:name=".mater_design.EdittextActivity"></activity>
        <activity
            android:name=".mater_design.LoginActivity"
            android:theme="@style/AppTheme.Dark"></activity>
        <activity android:name=".mater_design.NavigationActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".mater_design.ToolBarActivity"></activity>
        <activity android:name=".m_act.AnimationActivity"></activity>


        <service android:name=".m_service.MyService"></service>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
